[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
black = "*"
pytest = "*"
pytest-cov = "*"
invoke = "*"

[dev-packages]
bump2version = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
